h1 {
  color: black;
  text-align: center;
  border: 5px solid black;
}
h2 {
  color: black;
  background-color: none;
  text-align: center;
  font-size: 30px;
}
p {
  color: blue;
  font-style: Helvetica;
  font-size: 16px;
}
ul li {
   background-color: #ffb3b3;
   text-align: center;
   display: inline-block;
   font-style: lobster two;
}
#attractions {
  padding: 10px;
}
footer {
  position: relative;
  bottom: 0;
}
  .img-stpauls {
    width: 100%;
    height: auto;
    padding: 0px 100px;
    }
