h1 {
  color: black;
  text-align: center;
  border: 5px solid black;
}
h2 {
  color: black;
  background-color: none;
  text-align: center;
  font-size: 30px;
}
p {
  color: black;
  font-style: Helvetica;
  font-size: 16px;
}
ul li {
   background-color: lightblue;
   margin: 10px;
   text-align: center;
   display: inline-block;
   padding: 10px 20px;
}

footer {
  bottom: 0;
  float: right;
}

.img-stpauls {
  width: 100%;
  padding: 30px 100px;
}

.img-buckingham {
  width: 100%;
  padding: 30px 100px;
}

.img-bigben {
  width: 100%;
  padding: 30px 100px;
}
